<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokedex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  </head>
  <body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div class="page-header">
            <h1>{{ titulo }}</h1>
        </div>
        {% block conteudo %}{% endblock %}
    </div>
    <a class="btn btn-primary" href="/login" role="button">Login </a>
    <a class="btn btn-primary" href="/novo" role="button">Novo </a>
    <a class="btn btn-primary" href="/logout" role="button">Logout </a>


  </body>
</html>